* {
  padding: 0;
  margin: auto;
  font-family: Ropa Sans, sans serif;
  max-width: 1010px;
}
h3{
  background-color: #674172;
  padding: 20px;
  text-align: left;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 2px;
}
img {
  height: 100px;
}
.main-container {
  display: flex;
  flex-direction: row;
}
.progress-container {
  width: 50%;
  height: auto;
  margin: 10px 10px;
  background-color: #DCC6E0;
}
.meals-container {
  width: 50%;
}
.newDivitem {
  height: 100px;
  display: flex;
  flex-direction: row;
  color: #FFFFFF;
  background-color: #BE90D4;
  margin: 10px 10px;
  border-radius: 5px;
  transition: all 400ms ease-out 40ms;
}
.newDivitem:hover {
  background-color: #DCC6E0;
}
.newImgitem {
  margin: 0px;
}
.newCalorieitem {
  font-size: 30px;
  font-weight: bold;
}
.newMealsitem {
  font-size: 40px;
}
